
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
	.location {
		text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
		background-color: #003366;
		color: #ccc
	}


  .card-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
  }


  .card-image {
    width: 100%;
    border-radius: 8px;
  }
	.card-p{
		text-align: center;
		font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
	}

.button-fav {
margin-left: 15%;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 15px;
}

.button-fav:hover {
  background-color: #0056b3;
}


.button-fav:active {
  background-color: #003366;
}

