.characters-div{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.button-characters {
	margin: 15px;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
}

.button-characters:hover {
  background-color: #555555;
}


.button-characters:active {
  background-color: #000c17;
}
