.contenedor {
	width: 500px;
	margin: 100px auto;
	background-color: #fff;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
	color: #000000;
	margin-bottom: 40px;
	text-align: justify;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: larger;
	font-weight: 500;
}

input[type="email"],
input[type="password"] {
	width: 93%;
	padding: 15px;
	border: 1px solid #ced4da;
	border-radius: 8px;
	margin-bottom: 30px;
}

input[type="checkbox"] {
	margin-right: 13px;
}
.button-form {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
	background-color: #000000;
  border: none;
  border-radius: 4px;
}

.button-form:hover {
  background-color: #0056b3;
}


.button-form:active {
  background-color: #003366;
}
